
@import "~@enact/ui/styles/mixins";
@import "~@enact/moonstone/styles/rules";

// :focus {
// 	outline: none;
// }

.app {
	// styles can be put here
	.position(0);
	position: absolute;

	// :global(.moonstone) {
	// 	font-family: "Open Sans", "MuseoSans", "Museo Sans", sans-serif;
	// }

	.controls {
		background-color: gray;
		color: orange;
		padding: 18px;
		z-index: 1;
	}

	.adminConsole {
		position: fixed;
		right: 0;
		bottom: 12px;

		&.connected {
			display: none;
		}
	}

	.footer {
		background-color: darkgray;

		.label {
			color: #ffeb3b;
		}
	}
}
