// App.less
//
@import "~@enact/ui/styles/mixins";
@import "~@enact/moonstone/styles/rules";
@import "../styles/colors";

@face-keepout-edge-size: 12px;


.app {
	// Define CSS variables
	--face-wheel-velocity: 0;
	--face-wheel-velocity-left: 0;
	--face-wheel-velocity-right: 0;

	.position(0);
	position: absolute;
	overflow: hidden;

	.controls {
		display: none;
		background-color: gray;
		color: orange;
		padding: 0 0 @face-keepout-edge-size 0;
		z-index: 1;

		> * {
			margin-top: @face-keepout-edge-size;
		}

		&.manualControl {
			display: block;
		}
	}

	.headCanvas {
		background-color: @face-head-color;
		overflow: hidden;

		.head {
			will-change: transform;
			transition: 0.5s transform ease-in-out;
			transform: rotate(calc(var(--face-wheel-velocity, 0) * var(--face-wheel-velocity-right, 0) * 15deg));
			transform-origin: center bottom;
		}
	}

	.imagePreview {
		width: 240px;
		height: 180px;
		position: fixed;
		bottom: 0;
		left: 0;
		margin: @face-keepout-edge-size;
		border-radius: 9px;
		border: 6px solid white;
		overflow: hidden;
		background-size: cover;
		float: left;

		// .image {
		// 	height: 160px;
		// }
	}

	.messages {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;

		.label {
			// line-height: 180px;
			margin-top: 144px;
			color: #ffeb3b;
		}
	}

	.adminConsole {
		position: fixed;
		right: 0;
		bottom: @face-keepout-edge-size;

		&.connected {
			display: none;
		}
	}
}
